name: Build on request
on: [workflow_dispatch]

jobs:
  Windows:
    name: Build windows version
    runs-on: windows-2019
    timeout-minutes: 120

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
          submodules: recursive

    - name: Setup MSBuild and add to PATH
      uses: microsoft/setup-msbuild@v2
      id: setup_msbuild

    - name: Run vcpkg
      uses: lukka/run-vcpkg@v11
      with:
        vcpkgDirectory: ${{ runner.workspace }}/vcpkg/
        vcpkgGitCommitId: 3b3bd424827a1f7f4813216f6b32b6c61e386b2e

    - name: Install vcpkg packages
      run: |
        ${{ runner.workspace }}/vcpkg/vcpkg install boost-iostreams:x86-windows-static boost-asio:x86-windows-static boost-beast:x86-windows-static boost-system:x86-windows-static boost-variant:x86-windows-static boost-lockfree:x86-windows-static boost-process:x86-windows-static boost-program-options:x86-windows-static boost-uuid:x86-windows-static boost-filesystem:x86-windows-static luajit:x86-windows-static glew:x86-windows-static physfs:x86-windows-static openal-soft:x86-windows-static libogg:x86-windows-static libvorbis:x86-windows-static zlib:x86-windows-static libzip:x86-windows-static bzip2:x86-windows-static openssl:x86-windows-static

    - name: Integrate vcpkg
      run: |
        ${{ runner.workspace }}/vcpkg/vcpkg integrate install
        
    - name: Compile otclient_dx
      timeout-minutes: 20
      run: |
        cd vc16
        MSBuild /property:Configuration=DirectX /p:BUILD_REVISION=${{github.run_number}}
        
    - name: Compile otclient_gl
      timeout-minutes: 20
      run: |
        cd vc16
        MSBuild /property:Configuration=OpenGL /p:BUILD_REVISION=${{github.run_number}}

    - name: Upload binaries
      uses: 'actions/upload-artifact@v4'
      with:
        name: Windows-binaries
        path: |
          otclient_gl.exe
          otclient_dx.exe
        if-no-files-found: error

  Android:
    name: Build android version
    runs-on: windows-2019
    timeout-minutes: 120

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
          submodules: recursive

    - name: Setup MSBuild and add to PATH
      uses: microsoft/setup-msbuild@v2
      id: setup_msbuild

    - name: Create data.zip for android
      run: |
        powershell -ExecutionPolicy Bypass -File .\create_android_assets.ps1

    - name: Decompress android libs
      run: |
        7z x android_libs.7z -aoa -oC:\android

    - name: Install android
      run: |
        $sdkRoot = "C:\Android\android-sdk"
        $sdkManager = "$sdkRoot\cmdline-tools\latest\bin\sdkmanager.bat"
        Install-AndroidSDKPackages -AndroidSDKManagerPath $sdkManager `
                                  -AndroidSDKRootPath $sdkRoot `
                                  -AndroidPackages "ndk;21.4.7075529"

    - name: Build for android
      timeout-minutes: 25
      run: |
        cd android
        $env:VS_NdkRoot="C:\Android\android-sdk\ndk\21.4.7075529"
        MSBuild.exe /p:Configuration=Release /p:Platform="ARM64" /p:BUILD_REVISION=${{github.run_number}}

    - name: Upload binaries
      uses: 'actions/upload-artifact@v4'
      with:
        name: Android-binaries
        path: |
          otclientv8.apk
        if-no-files-found: error

  Mac:
    name: Build mac os version
    runs-on: macos-11
    timeout-minutes: 120

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
          submodules: recursive

    - name: Get latest CMake
      uses: lukka/get-cmake@latest

    - name: MacOS - install physfs pkgconfig luajit xquartz
      run: brew install physfs pkgconfig luajit xquartz

    - name: Run vcpkg
      uses: lukka/run-vcpkg@v11
      with:
        vcpkgDirectory: ${{ runner.workspace }}/vcpkg/
        vcpkgGitCommitId: 761c81d43335a5d5ccc2ec8ad90bd7e2cbba734e

    - name: Install vcpkg packages
      run: |
        ${{ runner.workspace }}/vcpkg/vcpkg install boost-iostreams:x64-osx boost-asio:x64-osx boost-system:x64-osx boost-variant:x64-osx boost-lockfree:x64-osx boost-beast:x64-osx glew:x64-osx boost-filesystem:x64-osx boost-uuid:x64-osx libogg:x64-osx libvorbis:x64-osx zlib:x64-osx opengl:x64-osx libzip:x64-osx openal-soft:x64-osx bzip2:x64-osx boost-process:x64-osx openssl:x64-osx

    - name: Build with CMake
      uses: lukka/run-cmake@v10
      with:
        buildDirectory: ${{ runner.workspace }}/build
        cmakeAppendedArgs: '-G Ninja -DCMAKE_BUILD_TYPE="Release" -DVERSION=${{github.run_number}} -DCMAKE_TOOLCHAIN_FILE=${{ runner.workspace }}/vcpkg/scripts/buildsystems/vcpkg.cmake'

    - name: Change name
      run: |
        mv '${{ runner.workspace }}/build/otclient' '${{ runner.workspace }}/build/otclient_mac'

    - name: Upload otclient
      uses: actions/upload-artifact@v4
      with:
        name: Mac-binaries
        path: |
          ${{ runner.workspace }}/build/otclient_mac
        if-no-files-found: error

  Linux:
    name: Build linux version
    runs-on: ubuntu-20.04
    timeout-minutes: 120

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
          submodules: recursive

    - name: Get latest CMake
      uses: lukka/get-cmake@latest

    - name: Ubuntu - install opengl lua5.1 luajit
      run: sudo apt update && sudo apt install -y libglew-dev liblua5.1-0-dev libluajit-5.1-dev

    - name: Run vcpkg
      uses: lukka/run-vcpkg@v11
      with:
        vcpkgDirectory: ${{ runner.workspace }}/vcpkg/
        vcpkgGitCommitId: 761c81d43335a5d5ccc2ec8ad90bd7e2cbba734e

    - name: Install vcpkg packages
      run: |
        ${{ runner.workspace }}/vcpkg/vcpkg install boost-iostreams:x64-linux boost-asio:x64-linux boost-system:x64-linux boost-variant:x64-linux boost-lockfree:x64-linux boost-beast:x64-linux glew:x64-linux boost-filesystem:x64-linux boost-uuid:x64-linux libogg:x64-linux libvorbis:x64-linux zlib:x64-linux opengl:x64-linux libzip:x64-linux openal-soft:x64-linux bzip2:x64-linux boost-process:x64-linux openssl:x64-linux physfs:x64-linux

    - name: Build with CMake
      uses: lukka/run-cmake@v10
      with:
        buildDirectory: ${{ runner.workspace }}/build
        cmakeAppendedArgs: '-G Ninja -DCMAKE_BUILD_TYPE="Release" -DVERSION=${{github.run_number}} -DCMAKE_TOOLCHAIN_FILE=${{ runner.workspace }}/vcpkg/scripts/buildsystems/vcpkg.cmake'

    - name: Change name
      run: |
        mv '${{ runner.workspace }}/build/otclient' '${{ runner.workspace }}/build/otclient_linux'

    - name: Upload otclient
      uses: actions/upload-artifact@v4
      with:
        name: Linux-binaries
        path: |
          ${{ runner.workspace }}/build/otclient_linux
        if-no-files-found: error
