name: Build on request
on: [workflow_dispatch]

jobs:
  Windows:
    name: Build windows version
    runs-on: windows-2019
    timeout-minutes: 120

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
          submodules: recursive

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2

    - name: Get vcpkg
      run: |
        git clone https://github.com/microsoft/vcpkg.git
        cd vcpkg
        git checkout 501db0f17ef4ef1d23592c44899f25c99d5bcac6
        ./bootstrap-vcpkg.bat

    - name: Install dependencies
      env:
        VCPKG_BINARY_SOURCES: 'clear'
      run: |
        ./vcpkg/vcpkg install boost:x86-windows-static luajit:x86-windows-static glew:x86-windows-static physfs:x86-windows-static libogg:x86-windows-static zlib:x86-windows-static libzip:x86-windows-static bzip2:x86-windows-static openssl:x86-windows-static

    - name: Integrate vcpkg
      run: ./vcpkg/vcpkg integrate install
        
    - name: Compile DirectX
      run: |
        $vcpkg_path = "${{ github.workspace }}\vcpkg\installed\x86-windows-static"
        cd vc16
        MSBuild /property:Configuration=DirectX `
                /p:BUILD_REVISION=${{github.run_number}} `
                /p:IncludePath="$vcpkg_path\include" `
                /p:LibraryPath="$vcpkg_path\lib" `
                /p:VcpkgEnableManifest=false
        
    - name: Compile OpenGL
      run: |
        $vcpkg_path = "${{ github.workspace }}\vcpkg\installed\x86-windows-static"
        cd vc16
        MSBuild /property:Configuration=OpenGL `
                /p:BUILD_REVISION=${{github.run_number}} `
                /p:IncludePath="$vcpkg_path\include" `
                /p:LibraryPath="$vcpkg_path\lib" `
                /p:VcpkgEnableManifest=false

    - name: Upload binaries
      uses: actions/upload-artifact@v4
      with:
        name: OTCv8-Windows-Client
        path: |
          vc16/DirectX/*.exe
          vc16/OpenGL/*.exe
        if-no-files-found: warn
